body {
  background-color: #161311 !important;
}

/* Add these styles to your CSS */
.portfolio-stack {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.stack-item {
  position: absolute;
  width: 100%;
  will-change: transform;
}

.portfolio-stack__inner {
  transform-origin: center;
  will-change: transform;
}

.service-container {
  padding: 50px auto;
  padding-top: 120px;
}

.service-header {
  text-align: center;
  margin-bottom: 40px;
  padding-bottom: 15px;
  position: relative;
}

.service-header h2 {
  font-weight: 600;
  color: #333;
  margin-bottom: 15px;
}

.service-header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 3px;
  background: linear-gradient(90deg, #8e9eab, #eef2f3);
}

.service-panel {
  margin-bottom: 15px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.08);

  transition: all 0.3s ease;
}

.service-panel:hover {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.12);
}

.panel-header {
  font-weight: 500;
  background-color: #1e1e1b;
  color: #333;
  padding: 18px 20px;
  border: none;
  width: 100%;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
  border: none;
  border-radius: 10px;
}

.panel-header.active {
  font-weight: 600;
  color: #000;
}

.panel-header .icon-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.panel-chevron {
  transition: transform 0.3s ease;
  margin-left: 10px;
  color: white;
}

.panel-header.active .panel-chevron {
  transform: rotate(180deg);
}

.panel-content {
  background-color: #1e1e1b;
  padding: 0 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  font-size: 1.2rem;
  line-height: 1.6;
  color: white;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease, padding 0.3s ease;
}

.panel-content.open {
  padding: 20px;
  max-height: 500px;
  /* Adjust based on your content */
}

.service-icon {
  margin-right: 12px;
  color: #8e9eab;
  font-size: 1.1rem;
}

.panel-header.active .service-icon {
  color: #6c7a89;
}

.icon-container img {
  width: 80px;
  border-radius: 15px;
}
.image-section {
  margin-bottom: 30px;
  position: relative;
  transition: transform 0.3s ease;
}
.image-section:hover {
  transform: translateY(-5px);
}
.image-card {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.image-card img {
  width: 100%;
  height: auto;
  display: block;
}
.image-card2 {
  margin-top: 90px;
}
.image-card3 {
  margin-top: 180px;
}
.image-card4 {
  margin-top: 270px;
}
.image-title {
  color: white;
  font-size: 1.6rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 100%;
  padding-top: 15px;
}
@media (max-width: 768px) {
  .image-title {
    font-size: 1.5rem;
  }
}
.section-1 {
  margin-top: 40px;
}
.section-2 {
  margin-top: 70px;
}
.section-3 {
  margin-top: 100px;
}
.section-4 {
  margin-top: 130px;
  margin-bottom: 100px;
}
.form-select {
  padding: 20px 0px;
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #535762;
  font-size: 2.2rem !important;
}
.form-select:focus-visible {
  outline: none !important;
}

/* For the dropdown options */
select option {
  /* or any color you prefer */
  color: #161311;
  padding: 8px;
  font-size: 2.2rem !important;
}
.contact-form {
  background-color: white;
}
.contact-form .form-content-content {
  background-color: white;
  padding: 80px 0px;
}
.contact-form .form-content-content .form__item {
  background-color: white;
}
.contact-form .form-content-content .form__item button {
  background-color: #000;
  margin-top: 30px;
}
.contact-form .form-content-content .form__item button:hover {
  background-color: white;
}
.contact-form .form-content-content .btn-default {
  height: 6rem;
}
.contact-form h3 {
  color: black;
}
.contact-form input {
  color: black !important;
}
form input:focus:required:invalid,
form textarea:focus:required:invalid {
  color: #212529 !important;
}
form input:focus,
form textarea:focus {
  border-bottom: 1px solid #535762;
}
/* Faq */
.faqs-container {
  margin: 0 auto;
  padding: 40px 20px;
}

.faqs-title {
  text-align: center;
  font-size: 1.8rem !important;
  margin-bottom: 40px;
  color: white !important;
  font-weight: 700;
}

.faq-item {
  margin-bottom: 15px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
  background-color: transparent;
}

.faq-question {
  width: 100%;
  padding: 20px;
  text-align: left;
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2.5rem;
  font-weight: 500;
  color: white;
  transition: background-color 0.3s ease;
  position: relative;
  padding: 10px 200px !important;
  border-bottom: 1px solid #383631;
}

.faq-question:hover {
  background-color: transparent;
}

.faq-icon {
  font-size: 1.3rem;
  transition: transform 0.3s ease;
  margin-left: 15px;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  padding: 0 20px;
  color: white;
  line-height: 1.6;
  padding: 05px 200px !important;
}

.faq-answer-content {
  padding: 0 0 20px 0;
}

.faq-item.active .faq-icon {
  transform: rotate(45deg);
}

.faq-item.active .faq-answer {
  max-height: 500px;
}

.faq-contact {
  text-align: center;
  margin-top: 40px;
  font-size: 1.1rem;
  color: #555;
}

.faq-contact a {
  color: #0066cc;
  text-decoration: none;
  font-weight: 500;
}

@media (max-width: 768px) {
  .faqs-title {
    font-size: 2rem;
  }

  .faq-question {
    font-size: 1rem;
    padding: 15px;
  }
}
/* Word Chnaging */
.text {
  position: absolute;
  width: 100%;
  left: -10%;
  height: 40px;
  top: -100px;
  text-align: center;
}

.text h1 {
  display: inline-block;
  vertical-align: top;
  margin: 0;
}

.wording {
  position: absolute;
  width: max-content;
  opacity: 0;
}

.letter {
  display: inline-block;
  position: relative;
  float: left;
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
}

.letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
  transform: rotateX(-90deg);
}

.letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.wisteria {
  color: white;
}

.belize {
  color: white;
}

.pomegranate {
  color: white;
}

.green {
  color: white;
}

.midnight {
  color: white;
}
.video-main {
  width: 190px;
  border-radius: 10px;
  height: 110px;
  position: relative;
  right: 30px;
  transition: transform 0.3s;
}
.video-main2 {
  width: 110px;
  border-radius: 10px;
  height: 40px;
  position: relative;
  right: -73px;
  top: 21px;
  transition: transform 0.3s;
}
.popup {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-out;
}

.popup.active {
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 1;
  visibility: visible;
}

.popup video {
  max-width: 90%;
  max-height: 90%;
  transform: scale(0.8);
  opacity: 0;
  transition: all 0.3s ease-out 0.1s;
}

.popup.active video {
  transform: scale(1);
  opacity: 1;
}

.close {
  position: absolute;
  top: 30px;
  right: 30px;
  color: white;
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease-out 0.2s;
}

.popup.active .close {
  opacity: 1;
}
